
@model EntityLayer.Concrete.User

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<h2>Profiliniz</h2>

@using (Html.BeginForm("UserProfile", "UserPanel", FormMethod.Post))
{
<div class="form-group">
    <br />
    <img src="@Model.UserImage" width="150" height="120" /><br />
    <br />
    <table class="table d-xxl-table-row">
        <tr>
            <th width="10%">
                Kullanıcı Adı
            </th>
            <td>
                @Model.UserName @Model.UserSurName
            </td>
        </tr>
        <tr>
            <th width="10%">
                Mail
            </th>
            <td>
                @Model.UserMail
            </td>
        </tr>
        <tr>
            <th width="10%">
                Telefon
            </th>
            <td>
                @Model.UserPhoneNumber
            </td>
        </tr>
    </table>
    <a href="/UserPanel/EditProfile/" class="btn btn-primary">Profil Düzenle</a>
</div>
}