@model EntityLayer.Concrete.Advert

@{
    ViewBag.Title = "EditAdvert";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>İlan Güncelle</h1>
<br />
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

@using (Html.BeginForm("EditAdvert", "UserPanelAdvert", FormMethod.Post))
{
    <div class="form-group">
        <div style="text-align:right">
            @Html.Label(@DateTime.Now.ToString("dd-MMM-yyyy"))
        </div>
        <table class="table table-hover">
            @Html.HiddenFor(x => x.AdID)
            @Html.HiddenFor(x => x.AdvertDate)
            @Html.HiddenFor(x => x.UserID)
            <tr>
                <th width="10%">
                    İlan Başlığı
                </th>
                <td>
                    @Html.TextBoxFor(x => x.AdvertTitle, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    İl
                </th>
                <td>
                    @Html.DropDownListFor(x => x.CityID, (List<SelectListItem>)ViewBag.city,
                   "-- İl Seçiniz  --", new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    İlçe
                </th>
                <td>
                    @Html.DropDownListFor(x => x.DistrictID, new SelectList(new List<SelectListItem>()),
                   new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Marka
                </th>
                <td>
                    @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.brand, "-- Marka Seçiniz  --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Brand.BrandName, "", new { @style = "color:red" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Seri
                </th>
                <td>
                    @Html.DropDownListFor(x => x.SerialID, new SelectList(new List<SelectListItem>()), new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Model
                </th>
                <td>
                    @Html.DropDownListFor(x => x.ModelID, new SelectList(new List<SelectListItem>()), new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Yakıt Tipi
                </th>
                <td>
                    @Html.DropDownListFor(x => x.FuelID, (List<SelectListItem>)ViewBag.fuel, "-- Yakıt Tipi Seçiniz --", new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Vites Tipi
                </th>
                <td>
                    @Html.DropDownListFor(x => x.GearID, (List<SelectListItem>)ViewBag.gear, "-- Vites Tipi Seçiniz --", new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Model Yılı
                </th>
                <td>
                    @Html.TextBoxFor(x => x.ModelYear, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Renk
                </th>
                <td>
                    @Html.TextBoxFor(x => x.Color, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Kilometresi
                </th>
                <td>
                    @Html.TextBoxFor(x => x.CurrentMilage, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Motor Hacmi
                </th>
                <td>
                    @Html.TextBoxFor(x => x.EnginValume, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Motor Gücü
                </th>
                <td>
                    @Html.TextBoxFor(x => x.EnginPower, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Fiyatı
                </th>
                <td>
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th width="10%">
                    Açıklama
                </th>
                <td>
                    @Html.TextAreaFor(x => x.AdDescription, new { @class = "form-control" })
                </td>
            </tr>
        </table>
        <button class="btn btn-info">Kaydet</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
            //İl seçilince
            $("#CityID").change(function () {
                $("#DistrictID").empty();
                SetDistrict();
                return false;
            })
        function SetDistrict() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDistrict")', // GetDistrict metoduna git
                    dataType: 'json',
                    data: { id: $("#CityID").val() },
                    // CityID'ye göre veri getir.
                    success: function (states) {
                        $("#DistrictID").append('<option value="">--İlçe Seçiniz--</option>');
                        $.each(states, function (i, state) {
                            if (parseInt('@Model.DistrictID') == state.Value) {
                                $("#DistrictID").append('<option selected value="' + state.Value + '">' +
                                    state.Text + '</option>');
                            }
                            else {
                                $("#DistrictID").append('<option value="' + state.Value + '">' +
                                    state.Text + '</option>');
                            }
                        });
                    },
                    error: function (ex) {
                        alert('Veri bulunamadı.' + ex);
                    }
                });
        }
        SetDistrict();
        });
</script>

<script type="text/javascript">
    $(document).ready(function () {
            //Marka seçilince
            $("#BrandID").change(function () {
                $("#SerialID").empty();
                SetSerial();
                return false;
            })
        function SetSerial() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSerial")', // GetSerial metoduna git
                    dataType: 'json',
                    data: { id: $("#BrandID").val() },
                    // BrandID'ye göre veri getir.
                    success: function (states) {
                        $("#SerialID").append('<option value="">--Seri Seçiniz--</option>');
                        $.each(states, function (i, state) {
                            if (parseInt('@Model.SerialID') == state.Value) {
                                $("#SerialID").append('<option selected value="' + state.Value + '">' +
                                    state.Text + '</option>');
                            }
                            else {
                                $("#SerialID").append('<option value="' + state.Value + '">' +
                                    state.Text + '</option>');
                            }
                        });
                        $("#ModelID").empty();
                        SetModel($("#SerialID").val());
                    },
                    error: function (ex) {
                        alert('Veri bulunamadı.' + ex);
                    }
                });
        }
        SetSerial();
        });
</script>

<script type="text/javascript">
    //Seri seçilince
    $("#SerialID").change(function () {
        $("#ModelID").empty();
        SetModel($("#SerialID").val());
        return false;
    })
    function SetModel(serialID) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetModel")', // GetModel metoduna git
                    dataType: 'json',
                    data: { id: serialID },
                    // SerialID'ye göre veri getir.
                    success: function (states) {
                        $("#ModelID").append('<option value="">--Model Seçiniz--</option>');
                        $.each(states, function (i, state) {
                            if (parseInt('@Model.ModelID') == state.Value) {
                                $("#ModelID").append('<option selected value="' + state.Value + '">' +
                                    state.Text + '</option>');
                            }
                            else {
                                $("#ModelID").append('<option value="' + state.Value + '">' +
                                    state.Text + '</option>');
                            }
                        });
                    },
                    error: function (ex) {
                        alert('Veri bulunamadı.' + ex);
                    }
                });
    }
</script>