@model EntityLayer.Concrete.Serial


@{
    ViewBag.Title = "EditSerial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Seri Güncellemesi</h2>
<br />

@using (Html.BeginForm("EditSerial", "AdminSerial", FormMethod.Post))
{

<div class="form-group">
    @Html.HiddenFor(x => x.BrandID, new { @class = "form-control" })
    @Html.HiddenFor(x => x.SerialID, new { @class = "form-control" })
    @Html.Label("Seri Adı")
    @Html.TextBoxFor(x => x.SerialName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SerialName)
    <br />

    <button class="btn btn-success">Güncelle</button>

</div>

}


