@using EntityLayer.Concrete
@model List<Serial>

@{
    ViewBag.Title = "SerialByModel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@Html.Action("AddSerialPartial", "AdminSerial")
<br />

<table class="table table-bordered">
    <tr>
        <th>@Model[0].Models.Brand.BrandName Marka  @Model[0].Models.ModelName Modeline ait Seri Listesi</th>
    </tr>

    <tr>
        <th>Seri Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td> @item.SerialName</td>
    <td><a href="/AdminSerial/DeleteSerial/@item.SerialID" class="btn btn-danger">Sil</a></td>
    <td>@Html.Action("EditSerialPartial", "AdminSerial", new { id = item.SerialID })</td>
</tr>
    }
</table>

