@model EntityLayer.Concrete.Advert

@{
    ViewBag.Title = "AdvertDetail";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>İlan Detay</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>


<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card card-solid">

        <div class="card-body">
            @Html.Action("MenuPartial", "Default")

            <div class="row">

                <div class="col-12 col-sm-6">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1>@Model.AdvertTitle</h1>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    @Html.Action("Gallery", "Default", new { id = ViewBag.id })
                </div>
                <div class="col-12 col-sm-4">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-10">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <div class="card-title">
                                                İlan Detayı
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>
                                                                @Model.Price.ToString("c")
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                @Model.City.CityName/@Model.District.DistrictName
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                İlan Tarihi
                                                            </th>
                                                            <td>
                                                                @(((DateTime)Model.AdvertDate).ToString("dd-MMM-yyyy"))
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Model Yılı
                                                            </th>
                                                            <td>
                                                                @Model.ModelYear
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Marka
                                                            </th>
                                                            <td>
                                                                @Model.Brand.BrandName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Seri
                                                            </th>
                                                            <td>
                                                                @Model.Serial.SerialName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Model
                                                            </th>
                                                            <td>
                                                                @Model.Model.ModelName
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Kilometresi
                                                            </th>
                                                            <td>
                                                                @Model.CurrentMilage
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Motor Hacmi
                                                            </th>
                                                            <td>
                                                                @Model.EnginValume
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Motor Gücü
                                                            </th>
                                                            <td>
                                                                @Model.EnginPower
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Yakıt Tipi
                                                            </th>
                                                            <td>
                                                                @Model.Fuel.FuelType
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Vites Tipi
                                                            </th>
                                                            <td>
                                                                @Model.Gear.GearType
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Rengi
                                                            </th>
                                                            <td>
                                                                @Model.Color
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                </div>
                <div class="col-12 col-sm-2">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                    @Html.Action("UserContact", "Default", new { id = Model.UserID })
                </div>
            </div>

            <div class="row mt-4">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Açıklama</a>
                    </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                        @Model.AdDescription
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /.content -->
<!-- jQuery -->
<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>


</html>

