@model EntityLayer.Concrete.User

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kullanıcı Ekleme</h1>
<br />

@using (Html.BeginForm("AddUser", "AdminUser", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserName, "", new { @style = "color:red" })
        <br />
        @Html.Label("Kullanıcı Soyadı")
        @Html.TextBoxFor(x => x.UserSurName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserSurName, "", new { @style = "color:red" })
        <br />
        @Html.Label("Kullanıcı Maili")
        @Html.TextBoxFor(x => x.UserMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserMail, "", new { @style = "color:red" })
        <br />
        @Html.Label("Kullanıcı Telefonu")
        @Html.TextBoxFor(x => x.UserPhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserPhoneNumber, "", new { @style = "color:red" })
        <br />
        @Html.Label("Kullanıcı Şifresi")
        @Html.TextBoxFor(x => x.UserPassWord, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserPassWord, "", new { @style = "color:red" })
        <br />
        @Html.Label("Kullanıcı Görsel Linki")
        @Html.TextBoxFor(x => x.UserImage, new { @class = "form-control", @Value = "/AdminLTE-3.0.4/dist/img/2.png" })
        @Html.ValidationMessageFor(x => x.UserImage, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-info">Kullanıcı Ekle</button>
    </div>
}

