@model EntityLayer.Concrete.Advert

@{
    ViewBag.Title = "AddAdvert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni İlan Ekleme</h1>
<br />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@using (Html.BeginForm("AddAdvert", "Advert", FormMethod.Post))
{
<div class="form-group">

    @Html.Label("İlan Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(x => x.AdvertDate, new { @class = "form-control", @Value = @DateTime.Now.ToShortDateString() })
    <br />
    @Html.Label("İl")
    @Html.DropDownListFor(x => x.CityID, (IEnumerable<SelectListItem>)ViewBag.city, "-- İl Seçiniz  --", new { @class = "form-control" })
    <br />
    @Html.Label("İlçe")
    @Html.DropDownListFor(x => x.DistrictID, new SelectList(string.Empty, "Value", "Text"), "-- İlçe Seçiniz --", new { @class = "form-control" })
    <br />
    @Html.Label("Marka")
    @Html.DropDownListFor(x => x.BrandID, (IEnumerable<SelectListItem>)ViewBag.brand, "-- Marka Seçiniz  --", new { @class = "form-control" })
    <br />
    @Html.Label("Model")
    @Html.DropDownListFor(x => x.ModelID, new SelectList(string.Empty, "Value", "Text"), "-- Model Seçiniz --", new { @class = "form-control" })
    <br />
    @Html.Label("Seri")
    @Html.DropDownListFor(x => x.SerialID, new SelectList(string.Empty, "Value", "Text"), "-- Seri Seçiniz --", new { @class = "form-control" })
    <br />
    @Html.Label("Yakıt Tipi")
    @Html.DropDownListFor(x => x.FuelID, (List<SelectListItem>)ViewBag.fuel, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.FuelID, "", new { @style = "color:red" })*@
    <br />
    @Html.Label("Vites Tipi")
    @Html.DropDownListFor(x => x.GearID, (List<SelectListItem>)ViewBag.gear, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.GearID, "", new { @style = "color:red" })*@
    <br />
    @Html.Label("Renk")
    @Html.DropDownListFor(x => x.ColorID, (List<SelectListItem>)ViewBag.color, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.ColorID, "", new { @style = "color:red" })*@
    <br />
    @Html.Label("Kullanıcı")
    @Html.DropDownListFor(x => x.UserID, (List<SelectListItem>)ViewBag.color, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.UserID, "", new { @style = "color:red" })*@
    <br />
    <div class="form-group">
        <label for="exampleInputFile">Resim</label>
        <input type="file" id="exampleInputFile" name="resim2">
    </div>

    <button class="btn btn-info">Kaydet</button>
</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        //Araba markası seçilince
        $("#BrandID").change(function () {
            $("#ModelID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetModel")', // GetModel metoduna git
                dataType: 'json',
                data: { id: $("#BrandID").val() },
                // Brandid'ye göre veri getir.

                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#ModelID").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Veri bulunamadı.' + ex);
                }
            });
            return false;
        })
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //Araba modeli seçilince
        $("#ModelID").change(function () {
            $("#SerialID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSerial")', // GetSerial metoduna git
                dataType: 'json',
                data: { id: $("#ModelID").val() },
                // ModelID'ye göre veri getir.

                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#SerialID").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Veri bulunamadı.' + ex);
                }
            });
            return false;
        })
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //İl seçilince
        $("#CityID").change(function () {
            $("#DistrictID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDistrict")', // GetDistrict metoduna git
                dataType: 'json',
                data: { id: $("#CityID").val() },
                // CityID'ye göre veri getir.

                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#DistrictID").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Veri bulunamadı.' + ex);
                }
            });
            return false;
        })
    });
</script>
